<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<add key="company_name" value="SkyCo" />
	<add key="company_logo" value="logo.jpg" />
	
	<add key="mail_host" value="smtp.gmail.com" />
	<add key="mail_port" value="587" />
	
	<add key="mail_account" value="skyco2020streaming@gmail.com" />
	<add key="mail_password" value="MgAwADIAMABzAGsAeQBjAG8AcAByAG8AagBlAGMAdAAyADAAMgAwAA==" />
	<add key="mail_sender" value="Administrator soft" />
	
</configuration>